<div class="row">
    <div class="col-md-12">
        <h2>Add your data</h2>
        
        <div class="form-horizontal">
		  <div class="form-group">
			<label for="documentToAdd">Document identifier</label>
			<input id="documentToAdd" class="form-control" type="text" placeholder="http://lodlaundromat.org/resource/5fcba614db053cbb6600d6b44d3d170c">
			<div id="documentAddMsg"></div>
			<button id="addDoc" class="btn btn-primary">Add doc</button>
			<button id="searchWardrobe" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search for documents</button>
	      </div>
	      <iframe id="wardrobe" frameborder="0" border="0" cellspacing="0" style="height: 500px"></iframe>
        </div>
	      
   </div>
</div>
